*{
  font-family: Roboto, sans-serif;
}

.black{
  color: black;
}

.orange{
  color: rgb(254, 109, 22);
}

.grey-ligth{
  color:  #b5b6b7;
}


.grey-medium{
  color: #707274;
}

.grey-dark{
  color: #3E3F40;
}

.content{
  margin: auto;
  width: 75%;
  height: auto;
}

.nota{
  line-height: 32px;
  text-decoration: underline;
  font-weight: bolder;
}

h1{
  font-size: 35px;
  font-weight: lighter;
  margin: 20px 0 0 0;
}

h2{
  font-size: 29px;
  font-weight: lighter;
  margin: 20px 0 10px 0;
}

p{
  line-height: 32px;
}
.left{
  width: 50%;
  float: left;
}

.right{
  width: 50%;
  float: right;
}

.representante{
  width: 100%;
  height: 370px;
}

.center{
  position: relative;
  width: 100%;
  height: auto;
}

label{
  display: block;
  font-size: 17px;
  font-weight: lighter;
  margin: 15px 0 10px 0;
}

input[type="text"], input[type="file"]{
  width: 75%;
  border: 0;
  border-bottom: 1px solid #707274;
  color: #707274;
  font-size: 17px;
  padding: 5px 0 5px 0;
  margin-bottom: 14px;
}

input:focus, select:focus, select{
  color: #707274;
  outline: none;
  font-size: 17px;
}

input[type="radio"], input[type="checkbox"]{
  margin: 10px 10px 0 0;
}

.profesion{
  height: 200px;
}

.input-title{
  display: block;
}

.cursive{
  font-style: italic;
}

.entidad{
  height: 1240px;
}

.registro{
  height: 250px;
}

.informacion{
  height: 5000px;
}

.bt_orange{
  background-color: rgb(254, 109, 22);
  color: white;
  border: 0;
  padding: 10px;
  font-size: 21px;
  margin-left: 50%;
  border-radius: 4px;
}

.p-right{
  text-align: right;
}
